
<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Extorrent" %></h1>
  <p>A blazing fast BitTorrent client in active development!</p>
</section>

<section class="row">
  <article class="column">
        <%= form_for @conn, Routes.page_path(@conn, :add), [multipart: true], fn f -> %>
        <label for="add-torrent">Add Torrent</label>
         <%= file_input f, :torrent, id: "add-torrent", accept: ".torrent" %>
        <% end %>

  </article>
</section>
